name: trivy

on:
  pull_request:
  push:
    branches: [main]

jobs:
  trivy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: aquasecurity/trivy-action@0.33.1
      with:
        scan-type: fs
